h1 {
    color: green;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid green;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: greenyellow;
    border: 5px solid lightgoldenrodyellow;
    position: relative;
    margin: 20px auto;
}

#box {
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
    position: absolute;
    border: 1px solid #1a1a1a;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}